body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", "LexendFallback", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

.jobList {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 24px;
}

.multipleSelect-chip {
  border-radius: 5px !important;
  margin-left: 4px !important;
}

.multipleSelect-chip svg:hover {
  color: rgb(243, 145, 145) !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
